html{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}    


body{
    background-color: black;
}

h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35PX;
}

.card p{
    text-align: justify;
}

#sobre{
    text-align: justify;
}   


a:hover{
    color: red;
    font-size: 85%;
}



